body {
    background-color: orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    height: 95vh;
    position: relative;
    overflow: hidden;
}

.gradient{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-image: linear-gradient(to right, black, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text {
    z-index: 2;
    color: white;
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

li {
    margin-top: 20px;
}

.container .img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    display: block;
    object-position: center 20%;
    z-index: 0;
}

.container-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 800px;
    gap: 50px;
}
.container-text{
    width: 100vw;
    display: flex;
    justify-content: center;
    
}
.container-text .text-2{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 250px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(255, 243, 211);
    box-shadow: 5px 5px rgb(150, 105, 54);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}